/* ==========================================================================
Homepage
========================================================================== */
.ty-cart-content {
    &__top-buttons, &__bottom-buttons {
        padding-left: 0;
        padding-right: 0;
    }
    &__bottom-buttons {
        background-color: #fff;
    }   
}
