/* ==========================================================================
Homepage
========================================================================== */

.homepage-banners {
    margin-top: 20px;
}

.ty-grid-banners {
    .ty-grid();    
    > div {
        .border-radius(@border-radius);
        overflow: hidden;
    }
}
.ty-banner {
    &__image-wrapper {
        text-align: left;
        margin: initial;
    }
}
