# ignore everything in the root folder
!.gitignore
/*

# Addon development -----------------------------------------------------------------

# Add app,js,design directory
!app/
!js/
!design/
!var/
var/*

!var/backups/
var/backups/*
!var/backups/last.sql.zip
!var/backups/migration*

# ignore everything in "lib" directory
app/lib/

# ignore everything in "js" directory
# except addons directory
js/*
!js/addons/


!var/langs/
var/langs/*
!var/langs/en/
!var/langs/ru/
var/langs/en/*
var/langs/ru/*
!var/langs/en/addons/
!var/langs/ru/addons/

!var/themes_repository/
var/themes_repository/*
!var/themes_repository/responsive/
var/themes_repository/responsive/*
!var/themes_repository/responsive/templates/
var/themes_repository/responsive/templates/*
!var/themes_repository/responsive/templates/addons/
