.muted {
    color: lighten(@font, 35%);
}

.ty-stats-container {
    .ty-control-group__label {
        width: auto;
        white-space: nowrap;
    }
    .ty-period__wrapper {
        display: none;
    }
}
.ty-statistic-list-shipping-method {
    display: none;
}
.ty-cart-content .quantity + div {
    margin-top: 12px;
}

.litecheckout {
    .ty-tiles, .ty-tiles__wrapper, &__shipping-method, &__shipping-method__wrapper {
        height: auto;
        min-height: 40px;
    }
    .ty-tiles, &__shipping-method {
        margin: 4px 0.5rem;
    }
    &__page-title {
        margin: 0;
    }
    &__container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.debt-limit-exceed {
    .ui-dialog-titlebar .ui-dialog-title {
        font-size: 160%;
        @media @mobile {
            font-size: 120%;
            text-align: left;
            max-width: initial;
        }
    }
    .object-container {
        .ty-center();
        font-size: 200%;
        padding: 10% 0;
    }
}

.baltika {
    .ty-icon-rumba-star-empty {
        .ty-icon-rumba-heart-empty()
    }
    .ty-icon-rumba-star-full {
        .ty-icon-rumba-heart-full()
    }
    .homepage-hotdeals {
        display: none;
    }
    .ty-product-labels {
        top: 0;
        bottom: initial;
    }
    .ty-compact-list__image {
        display: none;
    }
    .ty-account-info__reward-points {
        display: none;
    }
    .litecheckout {
        #shipping_rates_list .litecheckout__shipping-method {
            display: none;
        }
    }
    .ty-cart-content__qty .quantity {
        float: left;
    }
    .common-menu {
        display: none;
    }
    .tygh-top-panel {
        top: 0;
        position: sticky;
        background: #fff;
        z-index: 700;
    }
    .ty-top-menu__catalog {
        display: none;
    }
    .baltika-filters {
        display: none;
    }
    .ty-cart-content__image {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
    }
    .ty-cart-content__description {
        display: inline-block;
        width: calc(~"100% - 80px");
    }
    .ty-cart-content__top-buttons {
        display: none;
    }
    .debt-stats {
        display: none;
    }
    @media screen and (max-width: 767px) {
        .ty-top-menu__cart-content {
            display: none;
        }
        .ty-grid-list__item-name .product-title {
            height: 34px;
        }
        .ty-cart-content__sku, .ty-cart-content__weight {
            display: none;
        }
        .ty-sku-item {
            display: none;
        }
        .ty-btn__add-to-wish {
            opacity: 0.4;
        }
        .ty-grid-list {
            grid-gap: 8px;
            grid-template-columns: repeat(2 ,minmax(170px,300px));
            margin: 0 -14px;
            &__item {
                padding: 5px;
            }
            .ty-value-changer {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 5px;
                &__input {
                    padding: 0;
                }
            }
            .ty-btn__add-to-cart {
                margin-right: 0;
                width: 100%;
            }
        }
        .side-grid {
            display: none;
        }
        .baltika-filters {
            display: block;
            position: absolute;
            right: 10px;
            .ty-dropdown-box__title a {
                .rumba-glyphs();
                .ty-icon-rumba-equalizer();
            }
        }
    }
}
.ty-cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: rgba(133,133,133,0.4) 0px -10px 5px -5px;
    z-index: 100;
    > div {
        .container-fluid();
    }
    .ty-wysiwyg-content p a {
        color: #7ba6ef;
    }
    &__body {
        padding: 10px 0;
    }
}
