.muted {
    color: lighten(@font, 35%);
}

.ty-stats-container {
    .ty-control-group__label {
        width: auto;
        white-space: nowrap;
    }
    .ty-period__wrapper {
        display: none;
    }
}

.baltika {
    .tygh-top-panel {
        top: 0;
        position: sticky;
        background: #fff;
        z-index: 700;
    }
    .baltika-filters {
        display: none;
    }
    @media screen and (max-width: 767px) {
        .ty-btn__add-to-wish {
            opacity: 0.4;
        }
        .ty-grid-list {
            grid-gap: 8px;
            grid-template-columns: repeat(2 ,minmax(170px,300px));
            &__item {
                padding: 5px;
            }
            .ty-value-changer {
                margin-bottom: 5px;
                &__input {
                    padding: 0;
                }
            }
            .ty-btn__add-to-cart {
                margin-right: 0;
            }
        }
        [id^="category_products_"] {
            margin: 0 -14px;
        }
        .side-grid {
            display: none;
        }
        .baltika-filters {
            display: block;
            position: absolute;
            right: 10px;
            .ty-dropdown-box__title a {
                .rumba-glyphs();
                .ty-icon-rumba-equalizer();
            }
        }
    }
}
.ty-cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 10px 0;
    box-shadow: rgba(133,133,133,0.4) 0px -10px 5px -5px;
    z-index: 100;
    > div {
        .container-fluid();
    }
}
