@font-face {
  font-family: 'amida-glyphs';
  src:
    url('fonts/amida-glyphs.ttf?cmiap4') format('truetype'),
    url('fonts/amida-glyphs.woff?cmiap4') format('woff'),
    url('fonts/amida-glyphs.svg?cmiap4#amida-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ty-icon-amida-"], [class*=" ty-icon-amida-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'amida-glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ty-icon-amida-cart:before {
  content: "\e900";
}
