@font-face {
  font-family: 'rumba-glyphs';
  src:
    url('fonts/rumba-glyphs.ttf') format('truetype'),
    url('fonts/rumba-glyphs.woff') format('woff'),
    url('fonts/rumba-glyphs.svg#rumba-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ty-icon-rumba-"], [class*=" ty-icon-rumba-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rumba-glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ty-icon-rumba-equalizer:before {
  content: "\e90f";
}
.ty-icon-rumba-truck:before {
  content: "\e90e";
}
.ty-icon-rumba-percentage:before {
  content: "\e909";
}
.ty-icon-rumba-account:before {
  content: "\e900";
}
.ty-icon-rumba-arrow-down:before {
  content: "\e901";
}
.ty-icon-rumba-arrow-left:before {
  content: "\e902";
}
.ty-icon-rumba-arrow-right:before {
  content: "\e903";
}
.ty-icon-rumba-arrow-up:before {
  content: "\e904";
}
.ty-icon-rumba-cart:before {
  content: "\e905";
}
.ty-icon-rumba-checkbox-blank:before {
  content: "\e906";
}
.ty-icon-rumba-checkbox-checked:before {
  content: "\e907";
}
.ty-icon-rumba-cross:before {
  content: "\e908";
}
.ty-icon-rumba-home:before {
  content: "\e90a";
}
.ty-icon-rumba-menu:before {
  content: "\e90b";
}
.ty-icon-rumba-star-empty:before {
  content: "\e90c";
}
.ty-icon-rumba-star-full:before {
  content: "\e90d";
}
