.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-default {
    border-color: #DDDDDD;
}
.panel-default > .panel-heading {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    color: #333333;
}
.panel-success {
    border-color: #D6E9C6;
}
.panel-success > .panel-heading {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
.panel-heading > div {
    overflow: hidden;
}
.panel-warning {
    border-color: #FAEBCC;
    margin: 20px 0px 0px;
}
.panel-warning > .panel-heading {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
.panel-info {
    border-color: #BCE8F1;
}
.panel-info > .panel-heading {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}

.helpdesk .sidebox-body {
    padding: 12px 0px;
}

.helpdesk .wysiwyg-content ul {
    margin: 5px 0px;
}

.helpdesk .wysiwyg-content ul li {
    list-style-type: none;
}

.helpdesk-links ul li a:hover {
    background: -moz-linear-gradient(center top , #EEEEEE, #DEDEDE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
}

.helpdesk-links ul li a {
    color: #555555;
    text-shadow: 0 1px 0 #FFFFFF;
    display: block;
    padding: 8px 10px 8px 20px;
}

.helpdesk-links li.delimiter {
    border-bottom: 1px dotted #BFBFBF;
}

.template-products .qty-out-of-stock {
    display: none;
}

.cdev-image {
    height: 200px;
    width: 200px;
    background-image: url("images/addons/helpdesk/cdev.jpg") !important;
}